html{
    overflow-x:hidden;
}
body{
    background: #eeb928;
}
.navbar-invers .navbar-fixed-top{
    margin-left: 0px;
}
.container .row h1{
    margin:70px 0px 30px 30px;
}
.carousel-inner{
    margin: auto;
    border: 4px inset black;
}
.ka{
    margin-left: 8.1%;
    padding-bottom: 70px;
}
.navbar-inverse #title{
    color: black;
    height: 20px;
    font-size: 1.5em;
    font-style: italic;
    padding: 10px 0px 30px 40px;
    border-style: none none outset;
    background: #cb9925;
    margin-top: 20px;
}
.ka p a{
    color: white;
    padding-left: 40px;
    text-decoration: none;
}
.navbar-inverse p a:hover{
    color: #d5cac6;
    text-decoration: underline;
}
#text{
    color: black;
    height: 20px;
    font-size: 1.5em;
    font-style: italic;
    padding: 10px 0px 30px 40px;
}
.glyphicon img{
    margin-top: 20px;
    opacity:1;
}
.glyphicon img:hover { opacity:.50; }

.text2 p {
    text-align: center;
    padding-top: 8px;
    font-size: 1.1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.link{
    text-align: center;
    padding-top: 30px;
     color: black;

}

.link a{
    padding:0px 3px 0px 3px;
    border: 1px solid black;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    color: black;
}
.link a:hover{
    background: #a9cdff;
}
.footer{
    height: 50px;
    background: black;
    margin-top: 30px;
}
#footer_text{
    padding: 10px 0px 0px 20px;
    color: #d5cac6;
}
.imk img{
    border: 2px ridge #2b2b2b
}
.form-search{
 float: left;
    padding-left: 200px;
    padding-top: 8px;
}